<div class="navBar">
    <div class="nav-left">
        <div class="icon">
            <img class="reel-icon" src="./images/reel.svg" alt="">
        </div>
        <div class="title">MediaPartner</div>
    </div>
    <div class="nav-right">
        <div class="nav-btn">
            <div class="tts">TextToSpeech</div>
        </div>
        <div class="nav-btn">
            <div class="audio-video-merge">Merge A/V</div>
        </div>
    </div>
</div>